<!DOCTYPE html>
<html ng-app="protarasApp">

  {% include head.html %}

  <body>
 <div ng-controller="protarasCtrl"> 
    {% include header.html %}

<section class="top-sec" style="background-image: url('/images/region-lisiting-sea-banner.jpg');">
   <div class="container no-padding">
       <div class="breadcrumb-nav">  
  
            
         
          <ol class="breadcrumb">
             <li><a href="">Home</a></li>
             <li><a href="">Hotels</a></li>
             <li class="active">Ayia Napa</li>
          </ol>
       </div>

      <div class="col-md-6 no-margin">
         <img src="/images/map-region-paphos.jpg" alt="map region paphos" class="responsive-img">
          
      </div>
      <div class="col-md-6 no-margin">
         <div class="region-tab">
                <ul class="clearfix nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="/hotels-in-paphos/">Paphos (2)</a></li>
                    <li class="active" role="presentation"><a href="/hotels-in-ayianapa/">Ayia Napa (6)</a></li>
                    <li role="presentation"><a href="/hotels-in-protaras/">Protaras (19)</a></li>
                </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="paphos">
                    <div class="details text-center">
                       
                       <p>Paphos thanks to its remarkable  
        historical heritage is without doubt an open museum, and thus UNESCO has added the whole town to the list of the World Cultural Heritage.</p>
        
                       <div class="view-more">
                         <a data-scroll href="#hotels">View Hotels in Paphos</a>
                       </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane  active" id="ayianapa">
                    <div class="details text-center">
                       <p>Ayia Napa detail here...</p>
        
                       <div class="view-more">
                         <a data-scroll href="#hotels">View Hotels in Ayia Napa</a>
                       </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="protaras">
                    <div class="details text-center">
                       <p>Protaras detail here...</p>
        
                       <div class="view-more">
                         <a data-scroll href="#hotels">View Hotels in Protaras</a>
                       </div>
                    </div>
                </div>
             </div>
         </div>
      </div>

   </div> 
</section>
 
 
 <section id="hotels" class="scrollme">
  <div class="container no-padding">
   <div class="padd-36 text-center">
      <h4 class="title-18">OUR EXCLUSIVE HOTELS </h4>
      
       <div ng-repeat="hotel in HotelLists | filter :  {address: {city : 'Ayia Napa'}}  | orderBy: 'name' " class="row hotel-list grey-bg no-padding">
         <div class="col-sm-6 col-md-4 no-padding no-margin">
          <div class="image-wrap"><img  src="[[hotel.lead_photo.thumb_yankee_jumbo]]"  class="responsive-img" alt="tossokos ascos carol beach">
          </div>
         </div>
         <div class="col-sm-6 col-md-8">
             <div class="col-sm-12 col-md-7 no-padding no-margin text-left">
               <div class="short-detail">
               <h3> [[hotel.name]]</h3>
                <p>[[hotel.description  | limitTo: 200]]...
                </p>

                <h3 class="contact">Contact</h3>
                <p>+357-26621801
                </p>
               </div>
             </div>
             <div class="col-sm-12 col-md-5 no-padding no-margin text-center">
                    <div class="btn-group-nav readon">
                      <a href="/hotel/[[hotel.name | spaceDash]]" class="btn btn-primary">View This Hotel</a> 
                      <a href="[[hotel.website]]/search?arrival_date=[[minDate]]&departure_date=[[maxDate]]" target="_blank"  class="btn btn-primary">Book Now</a> 
                    </div>
             </div>
         </div>
       </div>
 


   </div> 
  </div>
 </section>
 

<section class="grey-bg">
    <div class="container-fluid no-margin no-padding">
               <div id="owl-gallery" class="owl-carousel owl-gallery">
                <div class="item"><img class="lazyOwl" src="/images/region/gallery/slide1.jpg"  alt="Cottilion Room">
                    <div class="caption">
                      <h3 class="white-text">Welcome to Paphos</h3>
                      <a class="btn btn-secondary" href="#">View Gallery</a> 
                    </div>
                </div>
                <div class="item"><img class="lazyOwl" src="/images/region/gallery/slide2.jpg" alt="Garden Room">
                    <div class="caption">
                     <h3 class="white-text">Welcome to Paphos</h3>
                      <a class="btn btn-secondary" href="#">View Gallery</a> 
                    </div>
                </div> 

              </div>
    </div>
</section>

<section>
  <div class="container padd-60">
    <div class="col-md-6 col-sm-6 text-center border-right">
    <h2 class="carousel-heading">Plan Your Special Event</h2>
    <div id="owl-demo" class="owl-carousel owl-prop">
      <div class="item">
      <img class="lazyOwl" src="/images/homepage/gallery/1.jpg"  alt="Cottilion Room">
          <div class="caption">
            <h3>ANMARIA BEACH HOTEL/
Ayia Napa</h3>
            <a class="btn btn-default" href="#">Explore Event</a>
            <a class="btn btn-primary" href="#">Explore all Events</a>
          </div>
      </div>
      <div class="item">
      <img class="lazyOwl" src="/images/homepage/gallery/2.jpg" alt="Garden Room">
          <div class="caption">
            <h3>ANMARIA BEACH HOTEL/
Ayia Napa</h3>
            <a class="btn btn-default" href="#">Explore Event</a>
            <a class="btn btn-primary" href="#">Explore all Events</a>
          </div>
      </div> 
    
    </div>

    </div>
    <div class="col-md-6 col-sm-6 text-center">
    <h2 class="carousel-heading">Browse Special Offers</h2>
    <div id="owl-demo2" class="owl-carousel owl-prop">
    <div class="item"><img class="lazyOwl" src="/images/homepage/gallery/2.jpg" alt="Garden Room">
          <div class="caption">
            <h3>Early bookings discount/
    summer special 2017</h3>
            <a class="btn btn-default padd-25" href="#">View Offer</a>
            <a class="btn btn-primary padd-25" href="#">View all offers</a>
          </div>
      </div> 
      <div class="item"><img class="lazyOwl" src="/images/homepage/gallery/1.jpg"  alt="Cottilion Room">
          <div class="caption">
            <h3>Vrissiana beach hotel/
    Protaras</h3>
            <a class="btn btn-default padd-25" href="#">View Offer</a>
            <a class="btn btn-primary padd-25" href="#">View all offers</a>
          </div>
      </div>
      
        </div>
  </div>

</section>
 </div>

    {% include footer.html %}
   {% include scripts.html %}
   {% include booking-widget.html %}
  </body>

</html>
