<!DOCTYPE html>
<html ng-app="protarasApp">

  {% include head.html %}

  <body>

    {% include header.html %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
   

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/slides/slide1.jpg" alt="Beach Holiday">
      <div class="carousel-caption">
        <h2>Unique Beach Holiday Experiences</h2> 
        <h4>ANMARIA BEACH HOTEL / Ayia Napa</h4> 
        <p><a class="btn btn-lg btn-primary" href="" role="button">Discover This Hotel</a></p>

      </div>
    </div>
    <div class="item">
      <img src="/images/slides/slide2.jpg" alt="Discover Ancient Mysteries">
      <div class="carousel-caption">
        <h2>Discover Ancient Mysteries</h2> 
        <h4>Birthplace of Aphrodite / Paphos</h4> 
        <p><a class="btn btn-lg btn-primary" href="" role="button">Explore more of Cyprus</a></p>

      </div>
    </div>

     <div class="item">
      <img src="/images/slides/slide3.jpg" alt="GETTY SUITE MAIN">
     <div class="carousel-caption">
        <h2>Exceptional Historical Sites</h2> 
        <h4> The Castle of Paphos / Paphos</h4>  
        <p><a class="btn btn-lg btn-primary" href="" role="button">Explore more of Cyprus</a></p>

      </div>
    </div>

    <div class="item">
      <img src="/images/slides/slide4.jpg" alt="Premier Suite Living Room">
      <div class="carousel-caption">
        <h2>Tranquil Romantic Getaways</h2> 
        <h4>THE DOME BEACH HOTEL &amp; RESORT / Ayia Napa</h4> 
        <p><a class="btn  btn-lg btn-primary" href="" role="button">Discover This Hotel</a></p>

      </div>
    </div>

    <div class="item">
      <img src="/images/slides/slide5.jpg" alt="Pierre Suite Living">
     <div class="carousel-caption">
        <h2>Enjoy Vistas of the Sea &amp; Sky</h2> 
        <h4> Constantinos the Great Beach Hotel &amp; RESORT / Protaras</h4> 
        <p><a class="btn  btn-lg btn-primary" href="" role="button">Discover This Hotel</a></p>

      </div>
    </div>

    <div class="item">
      <img src="/images/slides/slide6.jpg" alt="Pierre Suite Living">
     <div class="carousel-caption">
        <h2>An Exclusive Sanctuary of Azure</h2> 
        <h4> King Evelthon Beach Hotel &amp; Resort / Paphos</h4> 
        <p><a class="btn  btn-lg btn-primary" href="" role="button">Discover This Hotel</a></p>

      </div>
    </div>

    <div class="item">
      <img src="/images/slides/slide7.jpg" alt="Pierre Suite Living">
     <div class="carousel-caption">
        <h2>Get Happily Hitched in Cyprus</h2> 
        <h4> Plan your special forever moments</h4> 
        <p><a class="btn  btn-lg btn-primary" href="" role="button">Plan an Event</a></p>

      </div>
    </div>
  
  </div>

  
</div>
 
 
 <section>
  <div class="container">
   <div class="padd-36 text-center">
      <h3>Why Book with Tsokkos Hotels &amp; Resorts?</h3>
      <ul class="list-checked">
      <li>Prime Locations</li>
      <li>Award Winning Hotels </li> 
      <li>Prestine Beaches </li>
      <li>Best Value</li>
      <li>Daily Deals</li>
      </ul>
   </div>
  </div>
 </section>
 
<section>
<div class="container-fluid no-margin">
   <div class="row no-margin equal">
     <div class="col-sm-6 no-margin ">
     <img src="/images/homepage/image-resort.jpg" alt="Hotel &amp; Resort" class="responsive-img">
     </div>
     <div class="col-sm-6 no-margin grey-bg">
             <div class="box-content">
                <p>
                Welcome to the world of Tsokkos Hotels, the largest hotel chain in Cyprus with over 30 hotels and hotel apartments. The company was founded in 1981 from the present Chairman Mr. Andreas Tsokkos and enjoys more than 35 years experience in the hospitality and tourism industry.
                </p>
                <div class="readon">
                   <a href="" class="btn btn-primary">Discover More</a>
                </div>

                <div class="sub-box"><h3>A Totally Unique Experience</h3>
                <h4>THE PERFECT PLACE FOR A PERFECT HOLIDAY</h4>
                </div>
          </div>
     </div>
  </div>
</div>
</section>


<section>
<div class="container-fluid no-margin">
   <div class="row no-margin equal"> 
     <div class="col-sm-6 no-margin">
             <div class="box-content-center">
                <h2>Explore Hotels &amp; Resorts</h2>
                <img src="/images/homepage/map-location.png" class="img-responsive" alt="map location">
                <p>&nbsp;</p>
                <p></p>
                <p class="sm-text">
                Find your perfect Tsokkos holiday
                   <span>accommodation here.</span>
                </p>
                <div class="readon">
                   <a href="" class="btn btn-primary padd-30">Find Hotel</a>
                </div>
 
          </div>
     </div>

     <div class="col-sm-6 no-margin ">
     <img src="/images/homepage/perfect.jpg" alt="Hotel &amp; Resort" class="responsive-img">
     </div>

  </div>
</div>
</section>

<section class="loc-sec grey-bg">
  <div class="container padd-60">
       <h4 class="text-center upper-text">Over 30+ Hotels in 3 unique locations</h4>
     <div class="col-md-4 loc-box"> 
        <div class="loc-icon"><img src="/images/icons/location-1.png" alt="Protaras location"></div>
        <div class="loc-content">
        <h5>Protaras</h5>
        <p>Protarasis a predominantly tourist resort which comes under the administrative jurisdiction of Paralimni Municipality in Cyprus...</p>
               <div class="readon">
                   <a href="" class="btn btn-primary">Explore Region</a>
                </div>
        </div>
         
     </div>
    <div class="col-md-4 loc-box"> 
        <div class="loc-icon"><img src="/images/icons/location-2.png" alt="Protaras location"></div>
        <div class="loc-content">
        <h5>Ayia Napa</h5>
        <p>The name Ayia Napa is derived from a Venetian-era monastery of the same name, located in the centre of the town, next to the square...</p>
               <div class="readon">
                   <a href="" class="btn btn-primary">Explore Region</a>
                </div>

        </div>
         
     </div>
    <div class="col-md-4  loc-box"> 
        <div class="loc-icon"><img src="/images/icons/location-3.png" alt="Protaras location"></div>
        <div class="loc-content">
        <h5>Paphos</h5>
        <p>Paphos is a coastal city in the southwest of Cyprus and the capital of Paphos District. In antiquity, two locations were called Paphos...</p>
               <div class="readon">
                   <a href="" class="btn btn-primary">Explore Region</a>
                </div>
        </div>
         
     </div>

  </div>
</section>

<section>
  <div class="container padd-60">
    <div class="col-md-6 col-sm-6 text-center border-right">
    	<h2 class="carousel-heading">Browse Hotels &amp; Resorts</h2>
        <div id="owl-demo" class="owl-carousel owl-prop">
          <div class="item"><img class="lazyOwl" src="/images/homepage/gallery/1.jpg"  alt="Cottilion Room">
              <div class="caption">
                <h3>Vrissiana beach hotel/
        Protaras</h3>
                <a class="btn btn-default" href="#">Explore hotel</a>
                <a class="btn btn-primary" href="#">Explore all hotels</a>
              </div>
          </div>
          <div class="item"><img class="lazyOwl" src="/images/homepage/gallery/2.jpg" alt="Garden Room">
              <div class="caption">
                <h3>Early bookings discount/
        summer special 2017</h3>
                <a class="btn btn-default" href="#">Explore hotel</a>
                <a class="btn btn-primary" href="#">Explore all hotels</a>
              </div>
          </div> 
        
        </div>
	</div>
    <div class="col-md-6 col-sm-6 text-center">
    	<h2 class="carousel-heading">Browse Special Offers</h2>
        <div id="owl-demo2" class="owl-carousel owl-prop">
            <div class="item"><img class="lazyOwl" src="/images/homepage/gallery/2.jpg" alt="Garden Room">
                  <div class="caption">
                    <h3>Early bookings discount/
            summer special 2017</h3>
                    <a class="btn btn-default padd-25" href="#">View Offer</a>
                    <a class="btn btn-primary padd-25" href="#">View all offers</a>
                  </div>
              </div> 
              <div class="item"><img class="lazyOwl" src="/images/homepage/gallery/1.jpg"  alt="Cottilion Room">
                  <div class="caption">
                    <h3>Vrissiana beach hotel/
            Protaras</h3>
                    <a class="btn btn-default padd-25" href="#">View Offer</a>
                    <a class="btn btn-primary padd-25" href="#">View all offers</a>
                  </div>
              </div>
        </div>
  	</div>
</div>
</section>
<section class="hello-beach">
  	  <h1>#HelloBeach</h1>
</section>

<section>
  <div class="container padd-60 ">
      <span class="col-sm-3 col-xs-6 no-margin"><img src="/images/homepage/gallery-thumb1.jpg" alt="gallery beach" class="responsive-img"></span>
      <span class="col-sm-3 col-xs-6 no-margin"><img src="/images/homepage/gallery-thumb2.jpg" alt="gallery beach" class="responsive-img"></span>
      <span class="col-sm-3 col-xs-6 no-margin"><img src="/images/homepage/gallery-thumb3.jpg" alt="gallery beach" class="responsive-img"></span>
      <span class="col-sm-3 col-xs-6 no-margin"><img src="/images/homepage/gallery-thumb4.jpg" alt="gallery beach" class="responsive-img"></span>
  </div>
</section>

    {% include footer.html %}
   {% include scripts.html %}
    {% include booking-widget.html %}
  </body>

</html>
