<!DOCTYPE html>
<html ng-app="protarasApp">

  {% include head.html %}
 {% include scripts.html %}
<body  ng-controller="detailController">
{% include header.html %}

<!--Inner page hero banner here-->
<section class="inner-banner-others">
<!--Breadcrum here-->
  <div class="top-sec">
        <div class="breadcrumb-nav">  
          <ol class="breadcrumb">
            <li><a href="">Hotels</a></li>
            <li class="active">Sitemap</li>    
          </ol>
    </div> 
         <h2>Sitemap</h2> 
     </div>

</section>

<section class="container">
<div class="col-md-12 sitemap">
<ul>

<li > <a href="">Home</a></li>

<li ><a href="">Hotels</a></li>

<li><a href="">Plan an Event</a></li>

<li><a href="">Explore Cyprus</a></li>

<li> <a href=""> Privacy Policy </a></li>

<li><a href="">Press </a></li>

<li><a href=""> Terms of Use</a></li>

<li><a href="">Sitemap </a></li>

<li><a href="">FAQ </a></li>

</ul>
</div>
	
</section>


{% include footer.html %}
{% include booking-widget.html %}
{% include scripts.html %}
</body>
</html>